.form-price {
  font: 1rem "Lato";

  > div:not(:first-child) {
    background-color: #ffd511;
  }

  &__opt {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__opt > div {
    background-color: #333;
    color: $text-light;
    max-height: 32px;
  }

  &__opt > div.form-price__opt--selected {
    background-color: #ffd511;
    color: $text-dark;
  }

  &__opt p {
    margin: 0;
    line-height: 32px;
    padding-inline-start: 45px;
    font-weight: 900;
  }

  &__seller {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__seller > p {
    margin: 0;
    line-height: 1;
  }

  &__seller > p > span {
    display: inline-block;
    padding-block-end: 8px;
  }

  &__seller > p > span:first-child {
    font-weight: 900;
  }

  &__seller > p > span:last-child {
    padding-inline-start: 8px;
  }

  &__seller > p:last-child > span:last-child {
    padding-block-end: 0;
  }

  &__isgift {
    display: flex;
    flex-direction: column;
    height: 112px;
    align-items: flex-start;
    justify-content: center;
    padding: 0 45px;
  }

  &__isgift > p {
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  &__isgift > div {
    padding-inline-start: 8px;
    margin-block-start: 4px;
  }

  &__isgift label {
    text-transform: uppercase;
  }

  &__isgift input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #333;
  }

  &__isgift input:checked {
    background-color: #333;
  }

  &__partial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    padding: 0 35px;
  }

  &__partial > p {
    margin: 0;
    line-height: 1;
  }

  &__partial > p > span:first-child,
  &__partial span > span {
    font-weight: 900;
  }

  &__partial > p > span:last-child {
    display: inline-block;
    padding-inline-start: 8px;
    padding-block: 8px;
  }

  &__partial > p:last-child > span:last-child {
    padding-block-end: 0;
  }

  &__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
  }

  &__total > p {
    margin: 0 auto;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
  }

  &__total > p > span {
    display: inline-block;
    padding-block-end: 8px;
  }

  &__total > p > span:last-child {
    padding-inline-start: 8px;
    font-size: 1.125rem;
  }

  &__total > button {
    background-color: #333;
    color: $text-light;
    text-transform: uppercase;

    width: 128px;

    border: none;
    padding-block: 8px;
    margin: 0 auto;
  }

  &__total > button:first-of-type {
    margin-block-end: 8px;
  }
}
