.login {
  grid-row: 1/3;
  grid-column: 12/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__icon {
    width: 50px;
    height: 50px;
  }
  &__link {
    color: $text-light;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px "Montserrat";
    line-height: 0.7;
  }
}
