.primary-nav {
  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__item {
    padding-inline-start: 37px;
  }

  &__item:first-child {
    padding-inline-start: 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 1.25rem;
    color: $text-light;
  }
}
